/**
 * Styles / Base / Body
 * -----------------------------------------------------------------------------
 * Base styles for the body element.
 */

body {
  --header-offset: 135px;
  --visual-viewport: 100vh;
  padding-top: var(--header-offset);

  @include mq($from: large) {
    --header-offset: 177px;
  }
}
