/**
 * Styles / Base / Form
 * -----------------------------------------------------------------------------
 * Form resets, browser normalizing and base styling.
 *
 */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  margin: 0;
  padding: 0;
}

a,
area,
button,
[role=button],
input,
label,
select,
summary,
textarea {
  font-family: inherit;
  touch-action: manipulation;
}

input,
textarea,
select {
  &[disabled] {
    cursor: default;
  }
}

button,
input[type=submit],
label[for] {
  cursor: pointer;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

select::-ms-expand {
  display: none;
}

/**
 * Force option color (affects IE only).
 */
option {
  background-color: $COLOR_BACKGROUND_WHITE;
  color: $COLOR_TEXT_PRIMARY;
}

.input-error {
  background-color: $COLOR_BACKGROUND_WHITE;
  border-color: $COLOR_SUPPORT_ERROR;
  color: $COLOR_TEXT_PRIMARY;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
textarea,
select {
  background-color: $COLOR_BACKGROUND_WHITE;
  border: 1px solid $COLOR_BORDER_LIGHT;
  color: $COLOR_TEXT_PRIMARY;
  display: block;
  font-size: ms(-1);
  height: 100%;
  letter-spacing: $LETTER_SPACING_LABEL;
  padding: $SPACING_S * 1.21 $SPACING_M;
  width: 100%;

  &::placeholder {
    color: $COLOR_TEXT_LIGHT;
    opacity: 1;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.75;
  }

  &:focus {
    border-color: $COLOR_SUPPORT_FOCUS;
  }
}

label {
  display: inline-block;
}

select {
  appearance: none;
  background-clip: padding-box;
  background-color: $COLOR_BACKGROUND_WHITE;
  /* stylelint-disable-next-line */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0ibTcgMTAgNSA1IDUtNUg3WiIgZmlsbD0iIzAwNTE3MCIvPgo8L3N2Zz4K');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border-radius: 0;
  padding-right: $SPACING_2XL;
  text-transform: none;
}

input[type=checkbox],
input[type=radio] {
  margin-right: $SPACING_XS;
}

/**
 * Defines the styles for the form component.
 */
.form {
  &__message {
    margin-bottom: $SPACING_L;

    &#{&}--success {
      color: $COLOR_SUPPORT_SUCCESS;
    }

    &#{&}--error {
      color: $COLOR_SUPPORT_ERROR;
    }
  }

  label {
    @extend %subtitle-2;
    text-transform: none;
  }
}

/**
 * Group styling for a combination of form elements within a form.
 */
.form-group {
  &:not(:last-child) {
    margin-bottom: $SPACING_L;
  }

  &__info {
    @extend %caption;
    margin-bottom: $SPACING_S;
  }

  &__field:not(:last-child) {
    margin-bottom: $SPACING_XL;
  }

  &__check {
    align-items: center;
    display: flex;

    label {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: $SPACING_S;
    }
  }

  &__label {
    margin-bottom: $SPACING_S;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: $SPACING_L;
    padding-top: $SPACING_L;
  }

  @include mq($until: medium) {
    &__field:not(:last-child) {
      margin-bottom: $SPACING_M + $SPACING_2XS;
    }
  }
}

/**
 * Base styling for fieldset element.
 */
.fieldset {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;

  &__legend {
    margin-bottom: $SPACING_S;
  }
}

/**
 * Base styling for custom checkboxes.
 */
.checkbox {
  $parent: &;

  &__container {
    align-items: center;
    display: flex;

    &:not(:last-child) {
      margin-bottom: $SPACING_S;
    }
  }

  &__input {
    @include visually-hidden;

    /**
     * Active state.
     */
    &:checked {
      + #{$parent}__label {
        &::before {
          background-color: $COLOR_PRIMARY;
          border-color: $COLOR_PRIMARY;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      + #{$parent}__label {
        color: $COLOR_TEXT_LIGHT;
        cursor: not-allowed;

        &::before {
          background-color: $COLOR_BACKGROUND_LIGHT;
          border-color: $COLOR_BORDER_LIGHT;
        }

        &::after {
          opacity: 0;
        }
      }
    }

    /**
     * Focus state.
     */
    .is-tabbable & {
      &:focus + #{$parent}__label {
        @include focus-ring;
      }
    }
  }

  &__label {
    @extend %body-2;
    padding-left: $SPACING_2XL;
    position: relative;
    text-transform: none;

    &:hover {
      &::before {
        border: 1px solid $COLOR_PRIMARY;
      }
    }

    /**
     * Box styling.
     */
    &::before {
      background-color: $COLOR_BACKGROUND_WHITE;
      border: 1px solid $COLOR_BORDER_DARK;
      box-sizing: border-box;
      content: '';
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }

    /**
     * Tick styling.
     */
    &::after {
      /* stylelint-disable-next-line */
      background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTQgNy43OCAxLjIyIDVsLS45NDcuOTRMNCA5LjY2N2w4LTgtLjk0LS45NEw0IDcuNzhaIiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPgo=');
      background-repeat: no-repeat;
      background-size: 60%;
      content: '';
      display: block;
      height: 20px;
      left: 3.5px;
      position: absolute;
      top: 5px;
      width: 20px;
    }
  }
}

/**
 * Base styling for custom radio inputs.
 */
.radio {
  $parent: &;

  &__container {
    align-items: center;
    display: flex;

    &:not(:last-child) {
      margin-bottom: $SPACING_S;
    }
  }

  &__input {
    @include visually-hidden;

    /**
     * Active state.
     */
    &:checked {
      + #{$parent}__label {
        &::before {
          border-color: $COLOR_PRIMARY;
        }

        &::after {
          background-color: $COLOR_PRIMARY;
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    &:disabled {
      + #{$parent}__label {
        color: $COLOR_TEXT_LIGHT;
        cursor: not-allowed;

        &::before {
          background-color: $COLOR_BACKGROUND_LIGHT;
          border-color: $COLOR_BORDER_LIGHT;
        }
      }
    }

    /**
     * Focus state.
     */
    .is-tabbable & {
      &:focus + #{$parent}__label {
        @include focus-ring;
      }
    }
  }

  &__label {
    @extend %body-2;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 0;
    min-height: 1rem;
    padding-left: $SPACING_2XL;
    position: relative;
    text-transform: none;

    /**
     * Box styling.
     */
    &::before {
      background-color: $COLOR_BACKGROUND_WHITE;
      border: 1px solid $COLOR_BORDER_DARK;
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
    }

    /**
     * Inner circle styling.
     */
    &::after {
      background-color: transparent;
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      height: 10px;
      left: 5px;
      position: absolute;
      top: 5px;
      transform: scale(0);
      width: 10px;
    }
  }
}
