/**
 * Styles / Config / Colors
 * -----------------------------------------------------------------------------
 * Universal variables that have common roles and usages throughout the theme.
 */

/**
 * Brand.
 */
$COLOR_PRIMARY: rgb(0, 81, 112);
$COLOR_SECONDARY: rgb(216, 223, 231);
$COLOR_LIGHT_BLUE: rgb(114, 170, 201);
$COLOR_SALE: rgb(208, 13, 44);

/**
 * Typography.
 */
$COLOR_TEXT_PRIMARY: rgb(0, 37, 51);
$COLOR_TEXT_SECONDARY: rgb(81, 81, 81);
$COLOR_TEXT_LIGHT: rgb(148, 148, 148);
$COLOR_TEXT_INVERSE: rgb(255, 255, 255);

/**
 * Background / Surfaces / Borders.
 */
$COLOR_BACKGROUND_DARK: rgb(0, 0, 0);
$COLOR_BACKGROUND_LIGHT: rgb(246, 246, 246);
$COLOR_BACKGROUND_MID: rgb(241, 240, 235);
$COLOR_BACKGROUND_WHITE: rgb(255, 255, 255);
$COLOR_BORDER_LIGHT: rgb(239, 239, 239);
$COLOR_BORDER_DARK: rgb(173, 173, 173);

/**
 * Links / Buttons.
 */
$COLOR_LINK: rgb(0, 81, 112);
$COLOR_LINK_HOVER: rgb(16, 110, 147);
$COLOR_BUTTON: rgb(0, 81, 112);
$COLOR_BUTTON_HOVER: rgb(16, 110, 147);

/**
 * Support.
 */
$COLOR_SUPPORT_INFO: rgb(0, 0, 0);
$COLOR_SUPPORT_SUCCESS: rgb(0, 170, 0);
$COLOR_SUPPORT_WARNING: rgb(230, 87, 34);
$COLOR_SUPPORT_ERROR: rgb(246, 71, 71);
$COLOR_SUPPORT_FOCUS: rgb(94, 158, 214);
