<!DOCTYPE html>
<html>
  <head>
    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}

    {% comment %}
    ----------------------------------------------------------------------------
      Redirects.
    ----------------------------------------------------------------------------
    {% endcomment %}
    <script>
      let redirect = {{ settings.theme_redirect | json }};

      {% case template.name %}
        {% when 'cart' %}
          redirect += '/cart'

      {% endcase %}

      {% unless request.design_mode %}
        if (redirect) {
          window.location.href = redirect;
        }
      {% endunless %}
    </script>
  </body>
</html>
